@charset "UTF-8";
.base--input, .base--color-input, .base--date-input, .base--datetime-local-input, .base--email-input, .base--file-input, .base--hidden-input, .base--month-input, .base--number-input, .base--password-input, .base--range-input, .base--search-input, .base--tel-input, .base--text-input, .base--time-input, .base--url-input, .base--week-input, .base--select, .base--textarea {
  font-family: "Open Sans", Arial, "Lucida Grande", "Roboto", sans-serif; }

.base--code, .base--pre, .base--pre code, .base--pre .base--code {
  font-family: "Courier New", "Lucida Console", monospace; }

article:before,
.base--article:before, header:before,
.base--header:before, footer:before,
.base--footer:before, div:before,
.base--div:before, article:after,
.base--article:after, header:after,
.base--header:after, footer:after,
.base--footer:after, div:after,
.base--div:after {
  content: '';
  display: table;
  clear: both; }

/*! Reset/normalize hybrid with major contributions from normalize.css, html5doctor.com Reset Stylesheet, and http://html5reset.org/

* Sam Richard - http://snugug.com/
* Nicholas Gallagher, Jonathan Neal - http://necolas.github.io/normalize.css/
* Richard Clark - http://richclarkdesign.com
* Tim Murtaugh - http://monkeydo.biz/
*/
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
main,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

a:active,
a:hover {
  outline: 0; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ul {
  list-style: none; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, sans-serif; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 1em 0;
  padding: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button,
input[type="button"] {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="file"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

input,
select {
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

embed,
img,
object,
video {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Open Sans", Arial, "Lucida Grande", "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5; }

body {
  margin: 0; }
  body * + * {
    margin-top: 1rem; }

body {
  background: #fff; }

.base--h1 {
  font-size: 2.44141em;
  font-weight: 700;
  color: #325c80; }
  @media (min-width: ) {
    .base--h1 {
      font-size: 3.15733em; } }

.base--h2 {
  font-size: 2.36859em;
  font-weight: 400;
  color: #464646; }

.base--h3 {
  font-size: 1.95312em;
  font-weight: 400;
  color: #323232; }

.base--h4 {
  font-size: 1.25em;
  font-weight: 400;
  color: #323232; }
  @media (min-width: ) {
    .base--h4 {
      font-size: 1.333em; } }

.base--h5 {
  font-size: 1em;
  font-weight: 700;
  color: #464646; }

.base--h6 {
  font-size: 1em;
  font-weight: 400;
  color: #323232; }

.base--input, .base--color-input, .base--date-input, .base--datetime-local-input, .base--email-input, .base--file-input, .base--hidden-input, .base--month-input, .base--number-input, .base--password-input, .base--range-input, .base--search-input, .base--tel-input, .base--text-input, .base--time-input, .base--url-input, .base--week-input, .base--select {
  width: 100%;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 300;
  border: 1px solid #325c80;
  background-color: #fff; }
  .base--input:focus, .base--color-input:focus, .base--date-input:focus, .base--datetime-local-input:focus, .base--email-input:focus, .base--file-input:focus, .base--hidden-input:focus, .base--month-input:focus, .base--number-input:focus, .base--password-input:focus, .base--range-input:focus, .base--search-input:focus, .base--tel-input:focus, .base--text-input:focus, .base--time-input:focus, .base--url-input:focus, .base--week-input:focus, .base--select:focus {
    outline: 2px solid #325c80;
    border-color: #325c80; }
  .base--input:disabled, .base--color-input:disabled, .base--date-input:disabled, .base--datetime-local-input:disabled, .base--email-input:disabled, .base--file-input:disabled, .base--hidden-input:disabled, .base--month-input:disabled, .base--number-input:disabled, .base--password-input:disabled, .base--range-input:disabled, .base--search-input:disabled, .base--tel-input:disabled, .base--text-input:disabled, .base--time-input:disabled, .base--url-input:disabled, .base--week-input:disabled, .base--select:disabled {
    background-color: #ececec; }

.base--block-label {
  display: block;
  margin: 1.25em 0 .25em; }

.base--inline-label {
  display: inline; }

.base--radio {
  display: none; }
  .base--radio + label {
    position: relative; }
    .base--radio + label:before {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 1rem;
      vertical-align: middle;
      border: 1px solid #aeaeae;
      border-radius: 50%;
      content: '';
      -webkit-transform: translateY(-0.125em);
              transform: translateY(-0.125em); }
  .base--radio:checked + label:before {
    background: -webkit-radial-gradient(#323232 40%, transparent 40%);
    background: radial-gradient(#323232 40%, transparent 40%); }

.base--color-input {
  height: 3em;
  padding: .25em;
  background: #fff; }

.base--range-input {
  height: 0.5em;
  padding: 0;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: inset 0 0 0 0.125em #325c80; }
  .base--range-input:focus {
    outline: 0;
    box-shadow: inset 0 0 0 0.125em #325c80; }
  .base--range-input:disabled {
    opacity: .5; }
  .base--range-input::-moz-range-track {
    height: 0.5em;
    padding: 0;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: inset 0 0 0 0.125em #325c80; }
  .base--range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    border-radius: 1.5em;
    box-shadow: inset 0 0 0 0.1875em #325c80;
    -webkit-transition-duration: .5s;
            transition-duration: .5s; }
  .base--range-input:active::-webkit-slider-thumb {
    box-shadow: inset 0 0 0 1.25em #325c80;
    width: 1.875em;
    height: 1.875em; }
  .base--range-input::-moz-range-thumb {
    -moz-appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    border-radius: 1.5em;
    box-shadow: inset 0 0 0 0.1875em #325c80;
    transition-duration: .5s; }
  .base--range-input:active::-moz-range-thumb {
    box-shadow: inset 0 0 0 1.25em #325c80;
    width: 1.875em;
    height: 1.875em; }

.base--textarea {
  width: 100%;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 300;
  border: 2px solid #ececec;
  background-color: #fff; }
  .base--textarea:focus {
    outline: #3B99FC auto 5px;
    border-color: #ececec; }
  .base--textarea:disabled {
    background-color: #ececec; }

.base--checkbox {
  display: none; }
  .base--checkbox + label {
    position: relative; }
    .base--checkbox + label:before {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 1rem;
      vertical-align: middle;
      border: 1px solid #aeaeae;
      content: '';
      -webkit-transform: translateY(-0.125em);
              transform: translateY(-0.125em); }
  .base--checkbox:checked + label:before {
    background: #323232;
    box-shadow: inset 0 0 0 0.66667px #fff; }

.base--select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%20viewbox%3D%220%200%2014%2014%20true%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23325c80%22%20points%3D%220%2C0%206%2E825%2C14%2014%2C0%20%22%2F%3E%3C%2Fsvg%3E");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: calc(100% - .3em) 1em; }

.base--button {
  padding: 0.5em 1em;
  color: #006d5d;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #41d6c3;
  display: inline-block; }
  .base--button:hover, .base--button:focus {
    color: #fff;
    background-color: #41d6c3; }

.base--button_submit {
  padding: 0.5em 1em;
  color: white;
  font-weight: bold;
  background-color: #325c80;
  border: 2px solid #325c80;
  display: inline-block; }
  .base--button_submit:hover, .base--button_submit:focus {
    color: #fff;
    background-color: #325c80; }
  .base--button_submit:focus, .base--button_submit:hover {
    padding: 0.5em 1em;
    color: #006d5d;
    font-weight: bold;
    background-color: #264a60;
    border: 2px solid #264a60;
    display: inline-block; }
    .base--button_submit:focus:hover, .base--button_submit:focus:focus, .base--button_submit:hover:hover, .base--button_submit:hover:focus {
      color: #fff;
      background-color: #264a60; }

.base--button_reset {
  padding: 0.5em 1em;
  color: #5a5a5a;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #aeaeae;
  display: inline-block;
  border-width: 3px; }
  .base--button_reset:hover, .base--button_reset:focus {
    color: #fff;
    background-color: #aeaeae; }
  .base--button_reset:hover, .base--button_reset:focus {
    background-color: #5a5a5a;
    border-color: #5a5a5a; }

.base--a {
  color: #d74108; }
  .base--a:visited {
    color: #d74108; }
  .base--a:hover, .base--a:focus {
    color: #aeaeae; }

.base--em {
  font-style: italic; }

.base--strong {
  font-weight: 700; }

.base--p {
  font-size: 1em;
  color: #5a5a5a; }

.base--code {
  padding: .2em .5em;
  font-size: .8em;
  color: #d74108;
  outline: 1px solid rgba(119, 118, 119, 0.25); }

.base--pre, .base--pre code, .base--pre .base--code {
  display: block;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  word-spacing: normal;
  text-align: left;
  word-break: normal;
  white-space: pre;
  word-wrap: normal;
  direction: ltr;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  overflow-y: overlay; }

.base--pre {
  margin: .5em 0;
  overflow: auto;
  border: 1px solid rgba(119, 118, 119, 0.25); }
  .base--pre code, .base--pre .base--code {
    padding: 1em;
    font-size: 1em;
    outline: 0; }

.base--ul, .base--ol {
  display: table;
  padding-left: 0;
  margin-left: 0;
  list-style: none; }
  .base--ul li, .base--ol li, .base--ul .base--li, .base--ol .base--li {
    display: table-row;
    counter-increment: table-ol; }
    .base--ul li:before, .base--ol li:before, .base--ul .base--li:before, .base--ol .base--li:before {
      display: table-cell;
      padding-right: .4em;
      text-align: right; }

.base--ul li:before, .base--ul .base--li:before {
  content: "•"; }

.base--ol li:before, .base--ol .base--li:before {
  content: counter(table-ol) "."; }

.base--blockquote {
  padding: 0em 1.5em;
  margin-right: 1em;
  margin-left: 1em;
  font-style: italic;
  color: #464646;
  border-left: 0.25em solid #c7c7c7; }

.base--table {
  width: 100%; }

.base--thead {
  font-weight: bold;
  color: #fff;
  background-color: #325c80; }

.base--td {
  padding: 1em; }

.base--tr:nth-of-type(even) {
  background-color: #e0e0e0; }

.base--hr {
  border-top: 2px solid #ececec; }

@font-face {
  font-family: "icons";
  src: url("../../fonts/icon-fonts/icons.eot");
  src: url("../../fonts/icon-fonts/icons.eot?#iefix") format("eot"), url("../../fonts/icon-fonts/icons.woff") format("woff"), url("../../fonts/icon-fonts/icons.ttf") format("truetype"), url("../../fonts/icon-fonts/icons.svg#icons") format("svg"); }

.icon:before {
  font-family: "icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none; }

.icon-icons:before {
  content: "\E001"; }

.icon-link:before {
  content: "\E002"; }

.icon-reset:before {
  content: "\E003"; }

.icon {
  vertical-align: middle;
  font-size: 1em;
  color: inherit; }

.header {
  display: block;
  height: 100%; }
  .header--logo {
    width: 7rem;
    height: 100%;
    position: absolute;
    left: 0rem;
    top: 0rem; }
  .header--logo-image {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: 2rem;
    margin: auto; }
  .header--logo-index-image {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: 2rem;
    margin: auto; }
    @media (min-width: 640px) {
      .header--logo-index-image {
        left: 0em; } }
  .header--nav {
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
    font-weight: 600;
    color: #5a5a5a; }
    @media (min-width: 640px) {
      .header--nav {
        margin-right: 4rem; } }
  .header--link {
    color: #5a5a5a;
    text-decoration: none;
    font-family: 'Helvetica Neue'; }
    .header--link:hover {
      color: #5a5a5a;
      text-decoration: none; }
  .header--menu {
    height: 100%;
    width: 4rem;
    margin-top: 0rem;
    position: absolute;
    right: 0rem;
    top: 0rem; }
  .header--menu-bar {
    width: 20rem;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #fdd600;
    cursor: pointer; }
    .js-menu-show .header--menu-bar {
      -webkit-transform: translateX(-10rem);
              transform: translateX(-10rem); }
  .header--menu-item {
    width: 4rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0rem;
    margin-right: 2rem; }

.tile {
  min-height: auto;
  height: auto;
  width: calc(100% - 0rem);
  margin-right: 0rem;
  display: block;
  float: left;
  margin-top: 0rem;
  position: relative;
  overflow: hidden;
  min-height: 20rem; }
  .tile:nth-of-type(1n) {
    margin-right: 0rem; }
  @media (min-width: 640px) {
    .tile {
      min-height: initial; } }
  .tile_full {
    width: calc(100% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left; }
    .tile_full:nth-of-type(1n) {
      margin-right: 0rem; }
  @media (min-width: 640px) {
    .tile_half {
      width: auto;
      margin-right: 0rem;
      display: block;
      float: none;
      width: calc(50% - 0rem);
      margin-right: 0rem;
      display: block;
      float: left; }
      .tile_half:nth-of-type(2n) {
        margin-right: 0rem; } }
  @media (min-width: 640px) {
    .tile_quarter {
      width: auto;
      margin-right: 0rem;
      display: block;
      float: none;
      width: calc(25% - 0rem);
      margin-right: 0rem;
      display: block;
      float: left; }
      .tile_quarter:nth-of-type(4n) {
        margin-right: 0rem; } }
  .tile img {
    width: 100%;
    height: auto;
    display: block; }
  .tile-img {
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
    min-height: initial; }

.pattern-library--cover-page {
  cursor: pointer;
  min-height: initial; }

.pattern-library--blog-title {
  background-color: #6eedd8;
  color: #fff;
  padding: 2rem;
  cursor: pointer;
  font-weight: 600; }

.pattern-library--blog {
  padding: 2rem;
  cursor: pointer;
  font-weight: 600; }
  .pattern-library--blog:hover {
    background-color: #e0e0e0; }

.text-title {
  padding: 1rem 0 2rem;
  background-color: #fdfdfd;
  cursor: pointer;
  margin-top: 0rem;
  min-height: auto;
  font-weight: 400;
  font-family: 'Helvetica Neue';
  color: #464646; }

.portfolio--a {
  color: #41d6c3; }

.portfolio--cover-page {
  background-image: url("../images/portfolio/watson-pattern-library.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.portfolio--role {
  display: none; }
  @media (min-width: 850px) {
    .portfolio--role {
      display: block;
      width: calc(25% - 0rem);
      margin-right: 0rem;
      display: block;
      float: left;
      padding-top: 1rem;
      padding-left: 2rem;
      margin-top: 7rem; }
      .portfolio--role:nth-of-type(4n) {
        margin-right: 0rem; } }

.portfolio--platform-role {
  display: none; }
  @media (min-width: 850px) {
    .portfolio--platform-role {
      display: block;
      width: calc(25% - 0rem);
      margin-right: 0rem;
      display: block;
      float: left;
      padding-top: 1rem;
      padding-left: 2rem; }
      .portfolio--platform-role:nth-of-type(4n) {
        margin-right: 0rem; } }

.portfolio--role-title {
  margin-top: 2rem; }

.portfolio--role-des {
  margin-top: 0.25rem; }

.portfolio--content-role {
  margin-top: 2rem; }
  @media (min-width: 850px) {
    .portfolio--content-role {
      display: none; } }

.portfolio--content {
  padding: 0 2rem; }
  @media (min-width: 850px) {
    .portfolio--content {
      width: calc(66.66667% - 0rem);
      margin-right: 0rem;
      display: block;
      float: left; }
      .portfolio--content:nth-of-type(1.5n) {
        margin-right: 0rem; } }

.portfolio--title {
  margin-top: 6rem;
  margin-bottom: 2rem; }

.portfolio--section-container_FIRST {
  margin-top: 0rem; }

.portfolio--service-icon {
  width: 4rem;
  display: inline-block;
  margin: 0 2rem; }

.portfolio--service-intro {
  display: inline-block;
  margin-top: 0rem; }

.portfolio--service-title {
  font-weight: bold;
  margin-top: 0rem; }

.portfolio--service-session {
  width: calc(50% - 0.5rem);
  margin-right: 1rem;
  display: block;
  float: left; }
  .portfolio--service-session:nth-of-type(2n) {
    margin-right: 0rem; }
  .portfolio--service-session_NO_MARGIN {
    margin-top: 0rem; }

.portfolio--service-small-tile-container {
  display: inline-block; }

.portfolio--service-used {
  margin-top: 4rem; }

.portfolio--button-group {
  margin-top: 4rem; }

.cover-page_watson-platform {
  height: 16rem; }

.demo-app--title {
  font-size: 2.44141em;
  font-weight: 500; }

.demo-app--title-text {
  font-size: 2.44141em;
  font-weight: 500;
  float: left;
  color: #121212; }

.demo-app--example-link {
  float: right; }

.demo-app--hr {
  width: calc(25% - 0rem);
  margin-right: 0rem;
  display: block;
  float: left;
  border-top: 0.3rem solid #41d6c3; }
  .demo-app--hr:nth-of-type(4n) {
    margin-right: 0rem; }

@media (min-width: 750px) {
  .demo-app--des {
    width: calc(50% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left; }
    .demo-app--des:nth-of-type(2n) {
      margin-right: 0rem; } }

@media (min-width: 750px) {
  .demo-app--example {
    width: calc(50% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left;
    padding-left: 2rem; }
    .demo-app--example:nth-of-type(2n) {
      margin-right: 0rem; } }

.demo-app--sub-title {
  font-weight: 500;
  color: #006d5d; }
  .demo-app--sub-title_WITH_MARGIN {
    margin-top: 2rem; }

.demo-app--screen-shot-small {
  max-width: 15rem;
  margin: 1rem auto; }
  @media (min-width: 600px) {
    .demo-app--screen-shot-small {
      width: calc(50% - 0.5rem);
      margin-right: 1rem;
      display: block;
      float: left;
      max-width: 50rem; }
      .demo-app--screen-shot-small:nth-of-type(2n) {
        margin-right: 0rem; } }
  @media (min-width: 1000px) {
    .demo-app--screen-shot-small {
      width: calc(25% - 0.75rem);
      margin-right: 1rem;
      display: block;
      float: left; }
      .demo-app--screen-shot-small:nth-of-type(4n) {
        margin-right: 0rem; }
      .demo-app--screen-shot-small:nth-child(3) {
        margin-left: 1rem; } }

.demo-app--screen-shot-small-3 {
  max-width: 15rem;
  margin: 1rem auto; }
  @media (min-width: 600px) {
    .demo-app--screen-shot-small-3 {
      width: calc(33.33333% - 0.66667rem);
      margin-right: 1rem;
      display: block;
      float: left;
      max-width: 50rem; }
      .demo-app--screen-shot-small-3:nth-of-type(3n) {
        margin-right: 0rem; } }

.demo-app--screenshot-container {
  margin: 1rem auto;
  box-shadow: 6px 6px 55px -15px rgba(0, 0, 0, 0.68); }
  @media (min-width: 650px) {
    .demo-app--screenshot-container {
      width: calc(50% - 0.5rem);
      margin-right: 1rem;
      display: block;
      float: left; }
      .demo-app--screenshot-container:nth-of-type(2n) {
        margin-right: 0rem; } }

.demo-app--screenshot-big-container {
  float: left;
  margin: 1rem auto;
  box-shadow: 6px 6px 55px -15px rgba(0, 0, 0, 0.68); }

.demo-app--screenshot-small-container {
  margin-top: 0; }
  @media (min-width: 650px) {
    .demo-app--screenshot-small-container {
      width: calc(33.33333% - 0.66667rem);
      margin-right: 1rem;
      display: block;
      float: left; }
      .demo-app--screenshot-small-container:nth-of-type(3n) {
        margin-right: 0rem; } }
  .demo-app--screenshot-small-container_WITH_MARGIN {
    margin-top: 1rem; }

.demo-app--screen-shot {
  box-shadow: 6px 6px 55px -15px rgba(0, 0, 0, 0.68); }
  .demo-app--screen-shot_INLINE {
    display: inline-block; }

.demo-app--img {
  display: block; }

@media (min-width: 600px) {
  .demo-app--screen-shot-medium {
    margin-top: 0;
    width: calc(50% - 0.5rem);
    margin-right: 1rem;
    display: block;
    float: left; }
    .demo-app--screen-shot-medium:nth-of-type(2n) {
      margin-right: 0rem; } }

.service-tile {
  position: relative; }
  .service-tile--icon-container {
    padding-right: 2rem;
    position: absolute; }
  .service-tile--icon {
    width: 4rem; }
  .service-tile--intro {
    margin-left: 6rem;
    margin-top: 0rem; }
  .service-tile--title {
    font-weight: 500; }
  .service-tile--des {
    font-size: 0.8em;
    margin-top: 0.5rem; }

.example--title {
  font-size: 0.8em;
  color: #959595;
  font-weight: 500; }

.example--button {
  text-decoration: none; }
  .example--button_RED {
    color: #ad1625;
    border: 2px solid #ff7d87; }
    .example--button_RED:hover, .example--button_RED:focus {
      background-color: #ff7d87; }
  .example--button_PURPLE {
    color: #734098;
    border: 2px solid #ba8ff7; }
    .example--button_PURPLE:hover, .example--button_PURPLE:focus {
      background-color: #ba8ff7; }
  .example--button_BLUE {
    color: #325c80;
    border: 2px solid #5aaafa; }
    .example--button_BLUE:hover, .example--button_BLUE:focus {
      background-color: #5aaafa; }
  .example--button_GREEN {
    color: #2d660a;
    border: 2px solid #8cd211; }
    .example--button_GREEN:hover, .example--button_GREEN:focus {
      background-color: #8cd211; }

.example--button-left {
  float: left; }

.example--button-right {
  float: right; }

.photo--text {
  margin-top: 0;
  text-align: center; }

@media (min-width: 700px) {
  .photo--small-container {
    margin-top: 0;
    width: calc(50% - 1rem);
    margin-right: 2rem;
    display: block;
    float: left; }
    .photo--small-container:nth-of-type(2n) {
      margin-right: 0rem; } }

.footer--text {
  text-align: center; }

.footer--social-container {
  margin-top: 0; }

.footer--icon-container {
  margin: 0.5rem 0.25rem;
  display: inline-block;
  cursor: pointer; }

.footer--icon-link {
  text-decoration: none; }

.footer--nav {
  display: inline-block;
  font-family: 'helvetica neue';
  cursor: pointer;
  background-color: transparent;
  padding: 0 0.3rem; }
  .footer--nav:hover {
    background-color: #fcd602;
    color: #5a5a5a; }

.footer--all {
  margin: 2rem; }

.footer--a {
  color: #464646;
  text-decoration: none; }

._app--header {
  margin-top: 0rem;
  position: fixed;
  top: 0rem;
  height: 4rem;
  width: 100%;
  background-color: #fff;
  display: block;
  z-index: 1000; }

._app--content {
  margin: 4rem 0;
  display: block; }

._app--index-content {
  margin-top: 4rem;
  display: block; }

._app--personal-des {
  margin: 4rem 0 8rem; }
  @media (min-width: 640px) {
    ._app--personal-des {
      margin: 11rem 0 18rem; } }

._app--personal-des-title {
  font-family: 'Helvetica Neue';
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05176em;
  line-height: 1.3;
  color: #121212; }
  @media (min-width: 640px) {
    ._app--personal-des-title {
      font-size: 4.76837em; } }

._app--personal-des-text {
  font-weight: 400;
  margin-top: 0;
  font-size: 1.333em;
  line-height: 1.3;
  color: #959595;
  max-width: 49rem; }

@media (min-width: 640px) {
  ._app--container {
    margin: 0 2rem; } }

._app--selected-work {
  color: #5a5a5a;
  font-weight: 400; }

.content {
  margin-top: 0rem; }
  .content--link {
    cursor: pointer;
    color: #121212;
    text-decoration: none; }
    .content--link:hover {
      background-color: #e0e0e0; }
  .content--session-title {
    margin: 4rem 0 0;
    font-weight: 600;
    color: #959595; }
  .content--hr {
    margin-top: 0; }
  .content--footer {
    text-align: center; }
  .content--container-no-margin {
    margin-top: 0; }
  .content--container-two-one {
    cursor: pointer;
    position: relative; }
    @media (min-width: 640px) {
      .content--container-two-one {
        width: calc(50% - 1rem);
        margin-right: 2rem;
        display: block;
        float: left; }
        .content--container-two-one:nth-of-type(2n) {
          margin-right: 0rem; } }
  .content--container-two-two {
    position: relative;
    cursor: pointer;
    margin-top: 0; }
    @media (min-width: 640px) {
      .content--container-two-two {
        width: calc(50% - 1rem);
        margin-right: 2rem;
        display: block;
        float: left; }
        .content--container-two-two:nth-of-type(2n) {
          margin-right: 0rem; } }
  .content--container-one {
    background-color: #eaeaea;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-top: 1.8rem; }
  .content--container-two {
    margin-top: 2rem; }
  .content--pattern-lib {
    width: 50%;
    border-right: 1px solid #eaeaea; }
  .content--title-cover-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: #ffffff;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 0;
    opacity: 0; }
  .content--title-container {
    position: relative;
    top: 40%;
    text-align: center;
    display: block; }
  .content--title-name {
    font-weight: 600;
    font-family: 'Helvetica Neue';
    font-size: 1.25em;
    color: #121212; }
  .content--title-role {
    color: #959595; }

._guide--new-layout-content {
  margin: 4rem 0;
  padding: 2rem 1rem 0; }
  @media (min-width: 768px) {
    ._guide--new-layout-content {
      padding: 4rem 2rem 0; } }
  @media (min-width: 1200px) {
    ._guide--new-layout-content {
      width: 1200px;
      margin: 4rem auto 0; } }

._guide--photo-layout-content {
  margin: 4rem 0; }
  @media (min-width: 1200px) {
    ._guide--photo-layout-content {
      width: 1200px;
      margin: 4rem auto 0; } }

._guide--header {
  margin-top: 0rem;
  top: 0rem;
  height: 4rem;
  width: 100%;
  background-color: #fff;
  display: block;
  z-index: 1000;
  position: relative;
  padding: 0 1rem; }
  @media (min-width: 768px) {
    ._guide--header {
      padding: 0 2rem; } }
  @media (min-width: 1200px) {
    ._guide--header {
      width: 1200px;
      margin: 0 auto; } }

._guide--logo {
  width: 7rem;
  height: 100%;
  position: relative;
  left: 0rem;
  top: 0rem; }

._guide--logo-image {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  margin: auto; }

._guide--nav-work {
  position: absolute;
  color: #5a5a5a;
  right: 13rem;
  top: 1.3rem;
  font-weight: 400;
  background-color: transparent;
  padding: 0 0.3rem; }
  ._guide--nav-work:hover {
    background-color: #fcd602;
    color: #5a5a5a; }
  @media (min-width: 768px) {
    ._guide--nav-work {
      right: 16.3rem; } }

._guide--nav-photography {
  position: absolute;
  color: #5a5a5a;
  right: 5rem;
  top: 1.3rem;
  font-weight: 400;
  background-color: transparent;
  padding: 0 0.3rem; }
  ._guide--nav-photography:hover {
    background-color: #fcd602;
    color: #5a5a5a; }
  @media (min-width: 768px) {
    ._guide--nav-photography {
      right: 7rem; } }

._guide--nav-about {
  position: absolute;
  font-weight: 400;
  color: #5a5a5a;
  right: 1rem;
  top: 1.3rem;
  background-color: transparent;
  padding: 0 0.3rem; }
  ._guide--nav-about:hover {
    background-color: #fcd602;
    color: #5a5a5a; }
  @media (min-width: 768px) {
    ._guide--nav-about {
      right: 2rem; } }

._guide--page-title {
  font-size: 1.333em;
  font-weight: 400;
  font-family: 'Helvetica Neue'; }
  @media (min-width: 750px) {
    ._guide--page-title {
      font-size: 1.5625em; } }
  ._guide--page-title_TEAL {
    color: #00b4a0; }
  ._guide--page-title_BLUE {
    color: #4178be; }
  ._guide--page-title_GREEN {
    color: #6eb400; }
  ._guide--page-title_ORANGE {
    color: #d74108; }
  ._guide--page-title_PURPLE {
    color: #9855d4; }
  ._guide--page-title_RED {
    color: #ad1625; }
  ._guide--page-title_YELLOW {
    color: #be9b00; }

._guide--cover-img {
  width: 100%; }

._guide--content-container {
  padding-left: 2rem;
  margin-top: 2rem; }
  ._guide--content-container_TEAL {
    border-left: 0.3rem solid #00b4a0; }
  ._guide--content-container_ORANGE {
    border-left: 0.3rem solid #ffa573; }

._guide--content-title {
  color: #959595;
  font-size: 1em;
  font-weight: 400; }

._guide--content-link {
  font-size: 1.25em;
  font-weight: 400;
  margin-top: 0.66667rem;
  font-family: 'Helvetica Neue'; }
  ._guide--content-link_TEAL {
    color: #00b4a0; }
  ._guide--content-link_BLUE {
    color: #4178be; }
  ._guide--content-link_GREEN {
    color: #6eb400; }
  ._guide--content-link_ORANGE {
    color: #d74108; }
  ._guide--content-link_PURPLE {
    color: #9855d4; }
  ._guide--content-link_RED {
    color: #ad1625; }
  ._guide--content-link_YELLOW {
    color: #be9b00; }

._guide--content-link-a {
  text-decoration: none; }

._guide--content-session-container {
  margin-top: 8rem;
  font-size: 1.333em;
  font-weight: 400; }

._guide--content-session-title {
  margin-bottom: 2rem;
  font-family: 'Helvetica Neue'; }
  ._guide--content-session-title_TEAL {
    color: #00b4a0; }
  ._guide--content-session-title_ORANGE {
    color: #d74108; }

._guide--text {
  font-size: 0.64em;
  color: #323232; }

._guide--list-item {
  font-size: 0.64em;
  color: #323232;
  margin-top: 0.5rem; }

._guide--hr {
  margin-bottom: 5rem; }

._guide--text-title {
  font-weight: 600;
  font-size: 0.64em;
  color: #323232; }

._guide--explain-title {
  font-weight: 600;
  font-size: 0.64em; }
  ._guide--explain-title_GREED {
    color: #00b4a0; }
  ._guide--explain-title_RED {
    color: #ff5050; }

._guide--explain-txt {
  font-size: 0.64em;
  margin-top: 0.5rem;
  color: #959595; }

._guide--explain-txt-dark {
  font-size: 0.8em;
  margin-top: 0.5rem;
  color: #5a5a5a; }

._guide--do-container {
  padding-top: 0.5rem; }
  ._guide--do-container_GREEN {
    border-top: 0.5rem solid #00b4a0; }
  ._guide--do-container_RED {
    border-top: 0.5rem solid #ff5050; }

._guide--grid-one {
  min-height: 1px; }
  @media (min-width: 1100px) {
    ._guide--grid-one {
      width: calc(33.33333% - 0rem);
      margin-right: 0rem;
      display: block;
      float: left; }
      ._guide--grid-one:nth-of-type(3n) {
        margin-right: 0rem; } }

@media (min-width: 700px) {
  ._guide--grid-two {
    width: calc(50% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left;
    padding-right: 1rem; }
    ._guide--grid-two:nth-of-type(2n) {
      margin-right: 0rem; } }

@media (min-width: 1100px) {
  ._guide--grid-two {
    padding-left: 1rem;
    padding-right: 0;
    width: calc(33.33333% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left; }
    ._guide--grid-two:nth-of-type(3n) {
      margin-right: 0rem; } }

@media (min-width: 700px) {
  ._guide--grid-two-of-two {
    width: calc(100% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left; }
    ._guide--grid-two-of-two:nth-of-type(1n) {
      margin-right: 0rem; } }

@media (min-width: 1100px) {
  ._guide--grid-two-of-two {
    width: calc(66.66667% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left;
    padding-left: 1rem; }
    ._guide--grid-two-of-two:nth-of-type(1.5n) {
      margin-right: 0rem; } }

@media (min-width: 700px) {
  ._guide--grid-three {
    width: calc(50% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left;
    padding-left: 1rem; }
    ._guide--grid-three:nth-of-type(2n) {
      margin-right: 0rem; } }

@media (min-width: 1100px) {
  ._guide--grid-three {
    width: calc(33.33333% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left; }
    ._guide--grid-three:nth-of-type(3n) {
      margin-right: 0rem; } }

._guide--sub-session-container {
  margin-top: 4rem; }

._guide--content-case-study-container {
  max-width: 40rem;
  margin: 4rem auto 0; }

._guide--content-case-study-sub-container {
  max-width: 40rem;
  margin: 2rem auto; }

._guide--content-case-study-sub-container2 {
  max-width: 40rem;
  margin: 1rem auto; }

._guide--content-case-study-sub-title {
  font-weight: 600;
  font-size: 0.8em;
  color: #121212; }

._guide--content-case-study-sub-container3 {
  max-width: 40rem;
  margin: 2rem auto 0; }

._guide--case-study-title {
  font-weight: 500;
  margin-bottom: 2rem; }

._guide--case-study-text {
  font-weight: 400;
  color: #5a5a5a; }

@media (min-width: 700px) {
  ._guide--two-of-one-container {
    width: calc(50% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left;
    padding-right: 1rem; }
    ._guide--two-of-one-container:nth-of-type(2n) {
      margin-right: 0rem; } }

._guide--two-of-two-container {
  margin-top: 0; }
  @media (min-width: 700px) {
    ._guide--two-of-two-container {
      width: calc(50% - 0rem);
      margin-right: 0rem;
      display: block;
      float: left;
      padding-left: 1rem; }
      ._guide--two-of-two-container:nth-of-type(2n) {
        margin-right: 0rem; } }

._guide--blockquote {
  border-left: 0.25em solid #e0e0e0; }

._guide--case-study-sub-text {
  font-size: 0.8em;
  margin-left: 1.2rem;
  color: #aeaeae; }

@media (min-width: 750px) {
  ._guide--grid-even-one {
    width: calc(66.66667% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left;
    padding-right: 4rem; }
    ._guide--grid-even-one:nth-of-type(1.5n) {
      margin-right: 0rem; } }

@media (min-width: 750px) {
  ._guide--grid-even-two {
    width: calc(33.33333% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left; }
    ._guide--grid-even-two:nth-of-type(3n) {
      margin-right: 0rem; } }

._guide--btn {
  padding: 0.25em 2em;
  color: #9855d4;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid #9855d4;
  border-radius: 10rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  display: inline-block;
  cursor: pointer; }
  ._guide--btn:hover, ._guide--btn:focus {
    background-color: rgba(38, 38, 38, 0);
    border-color: #bd92e3;
    color: #bd92e3; }
  ._guide--btn:active {
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

._guide--btn-container {
  text-align: center; }

._guide--gray-container {
  background-color: #ECECEC;
  padding: 1rem; }

._guide--blue-container {
  background-color: #E5F2FA;
  padding: 1rem; }

._guide--red-container {
  background-color: #fdf1f6;
  padding: 1rem; }

._guide--yellow-container {
  background-color: #f4f4f4;
  padding: 1rem; }

._guide--list {
  margin-top: 0.25rem; }

.inactive {
  color: #aeaeae;
  background-color: transparent;
  padding: 0 0.3rem; }
  .inactive:hover {
    background-color: #fcd602;
    color: #5a5a5a; }

._about--session {
  margin-top: 4rem; }

._about--title {
  font-weight: 700;
  font-size: 0.8em; }
  @media (min-width: 700px) {
    ._about--title {
      width: calc(16.66667% - 0rem);
      margin-right: 0rem;
      display: block;
      float: left; }
      ._about--title:nth-of-type(6n) {
        margin-right: 0rem; } }

._about--des {
  color: #777677; }
  @media (min-width: 700px) {
    ._about--des {
      margin-top: 0;
      width: calc(83.33333% - 0rem);
      margin-right: 0rem;
      display: block;
      float: left; }
      ._about--des:nth-of-type(1.2n) {
        margin-right: 0rem; } }

._about--job-des {
  margin-top: 0.5rem;
  color: #777677; }

._about--job-title {
  font-weight: 700;
  color: #464646; }

._about--date {
  font-size: 0.8em;
  color: #aeaeae;
  margin-top: 0.5rem; }

._about--job-session {
  margin-top: 2rem; }
  ._about--job-session:first-child {
    margin-top: 0; }

@media (min-width: 700px) {
  ._about--job-container {
    margin-top: 0;
    width: calc(83.33333% - 0rem);
    margin-right: 0rem;
    display: block;
    float: left; }
    ._about--job-container:nth-of-type(1.2n) {
      margin-right: 0rem; } }

._about--gpa {
  margin-right: 1rem; }
