.example{
  &--title{
    font-size: ms(-1);
    color: color('gray', 40);
    font-weight: 500;
  }

  &--button{
    text-decoration: none;

    &_RED{
      color: color('red', 60);
      border: 2px solid color('red', 30);

      &:hover,
      &:focus {
        background-color: color('red', 30);
      }
    }
  }

  &--button-left{
    float: left;
  }

  &--button-right{
    float: right;
  }
}
