.header {
  display: block;
  height: 100%;

  &--logo {
    width: 7rem;
    height: 100%;
    position: absolute;
    left: 0rem;
    top: 0rem;
  }

  &--logo-image {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: get('rhythm');
    margin: auto;
  }

  &--logo-index-image {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: get('rhythm');
    margin: auto;

    @include breakpoint(get('small')){
      left: 0em;
    };
  }

  &--nav{
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
    font-weight: get('semi bold weight font');
    color: color('gray', 60);

    @include breakpoint(get('small')){
      margin-right: 4rem;
    };
  }

  &--link{
    color: color('gray', 60);
    text-decoration: none;

    &:hover{
      color: color('gray', 60);
      text-decoration: none;
    }
  }

  $menu-width: 4rem;

  &--menu {
    height: 100%;
    width: $menu-width;
    margin-top: 0rem;
    position: absolute;
    right: 0rem;
    top: 0rem;
  }

  &--menu-bar {
    width: 20rem;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    transition: 0.3s;
    background-color: color('yellow', 20);
    cursor: pointer;

    .js-menu-show & {
      transform: translateX(-10rem);
    }
  }
  &--menu-item {
    width: $menu-width;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    margin-right: get('rhythm');
  }
}
