.pattern-library{
  &--cover-page{
    cursor: pointer;
    min-height: initial;
  }

  &--blog-title{
    background-color: color('teal', 20);
    color: #fff;
    padding: get('rhythm');
    cursor: pointer;
    font-weight: get('semi bold weight font');
  }

  &--blog{
    padding: get('rhythm');
    cursor: pointer;
    font-weight: get('semi bold weight font');

    &:hover{
      background-color: color('gray', 10);
    }
  }
}
