.portfolio{

  &--cover-page{
    background-image: url('../images/portfolio/watson-pattern-library.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--role{
    @include divisions(4);

    padding-top: get('rhythm') / 2;
    padding-left: get('rhythm');
  }

  &--content{
    @include divisions(3/2);
  }

  &--title{
    margin-top: get('rhythm') * 3;
    margin-bottom: get('rhythm');
  }

  &--section-container{

    &_FIRST{
      margin-top: 0rem;
    }
  }

  &--service-icon{
    width: 4rem;
    display: inline-block;
    margin: 0 get('rhythm');
  }

  &--service-intro{
    display: inline-block;
  }

  &--service-title{
    font-weight: bold;
  }


}
