.portfolio{

  &--a{
    color: #41d6c3;
  }

  &--cover-page{
    background-image: url('../images/portfolio/watson-pattern-library.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--role{
    display: none;

    @include breakpoint(850px){

      display: block;
      @include divisions(4);

      padding-top: get('rhythm') / 2;
      padding-left: get('rhythm');
      margin-top: 7rem;
    };
  }

  &--platform-role{
    display: none;

    @include breakpoint(850px){

      display: block;
      @include divisions(4);
      padding-top: get('rhythm') / 2;
      padding-left: get('rhythm');
    };
  }

  &--role-title{
    margin-top: get('rhythm');
  }

  &--role-des{
    margin-top: get('rhythm') / 8;
  }

  &--content-role{
    margin-top: get('rhythm');
    @include breakpoint(850px){
      display: none;
    }
  }

  &--content{
    padding: 0 get('rhythm');
    @include breakpoint(850px){
      @include divisions(3/2);
    }
  }

  &--title{
    margin-top: get('rhythm') * 3;
    margin-bottom: get('rhythm');
  }

  &--section-container{

    &_FIRST{
      margin-top: 0rem;
    }

  }

  &--service-icon{
    width: 4rem;
    display: inline-block;
    margin: 0 get('rhythm');
  }

  &--service-intro{
    display: inline-block;
    margin-top: 0rem;
  }

  &--service-title{
    font-weight: bold;
    margin-top: 0rem;
  }

  &--service-session{
    @include divisions(2, 1rem);

    &_NO_MARGIN{
      margin-top: 0rem;
    }
  }

  &--service-small-tile-container{
    display: inline-block;
  }

  &--service-used{
    margin-top: get('rhythm') * 2;
  }

  &--button-group{
    margin-top: get('rhythm') * 2;
  }




}
