.text-title{
  padding: get('rhythm');
  background-color: color('neutral-white', 10);
  cursor: pointer;
  margin-top: 0rem;
  min-height: auto;

  &:hover{
    background-color: color('gray', 10);
  }
}
