.text-title{
  padding: get('rhythm') 0;
  background-color: color('neutral-white', 10);
  cursor: pointer;
  margin-top: 0rem;
  min-height: auto;
  font-weight: get('normal weight font');

  &:hover{
    background-color: color('gray', 10);
  }
}
