._app {
  $header-height: 5rem;
  &--header {
    margin-top: 0rem;
    position: fixed;
    top: 0rem;
    height: $header-height;
    width: 100%;
    background-color: #fff;
    display: block;
  }

  &--content {
    margin-top: $header-height;
    display: block;
  }
}
