.content {
  margin-top: 0rem;

  &--link{
    cursor: pointer;
    color: color('gray', 90);
    text-decoration: none;

    &:hover{
      background-color: color('gray', 10);
    }
  }

  &--session-title{
    margin: get('rhythm');
    font-weight: get('semi bold weight font');
  }
}
