.content {
  margin-top: 0rem;

  &--link{
    cursor: pointer;
    color: color('gray', 90);
    text-decoration: none;

    &:hover{
      background-color: color('gray', 10);
    }
  }

  &--session-title{
    margin: get('rhythm') * 2 0 0;
    font-weight: get('semi bold weight font');
    color: color('gray', 40);
  }

  &--hr{
    margin-top: 0;
  }

  &--footer{
    text-align: center;
  }

  &--container-no-margin{
    margin-top: 0;
  }
}
