._guide{
  $header-height: 4rem;

  &--new-layout-content{
    margin: $header-height 0;
    padding: get('rhythm') get('rhythm') / 2;

    @include breakpoint(768px){
			padding: get('rhythm') * 2 get('rhythm');
		}

		@include breakpoint(1200px){
			width: 1200px;
			margin: $header-height auto 0;
		}
  }

  &--header{
    margin-top: 0rem;
    top: 0rem;
    height: $header-height;
    width: 100%;
    background-color: #fff;
    display: block;
    z-index: 1000;
    position: relative;
    padding: 0 get('rhythm') / 2;

    @include breakpoint(768px){
			padding: 0 get('rhythm');
		}

		@include breakpoint(1200px){
			width: 1200px;
      margin: 0 auto;
		}
  }

  &--logo {
    width: 7rem;
    height: 100%;
    position: relative;
    left: 0rem;
    top: 0rem;
  }

  &--logo-image {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    margin: auto;
  }

  &--nav-work{
    position: absolute;
    font-weight: get('semi bold weight font');
    color: color('gray', 60);
    right: get('rhythm') * 2.5;
    top: 1.3rem;

    @include breakpoint(768px){
      right: get('rhythm') * 3.5;
    };
  }

  &--nav-about{
    position: absolute;
    font-weight: get('semi bold weight font');
    color: color('gray', 60);
    right: get('rhythm') / 2;
    top: 1.3rem;

    @include breakpoint(768px){
      right: get('rhythm');
    };
  }


  &--page-title{
    font-size: ms(2);
    font-weight: 400;

    @include breakpoint(750px){
      font-size: ms(3);
    };

    &_TEAL{
      color: color('teal', 40);
    }

    &_BLUE{
      color: color('blue', 50);
    }
  }

  &--cover-img{
    width: 100%;
  }

  &--content-container{
    border-left: 0.3rem solid color('teal', 40);
    padding-left: get('rhythm');
    margin-top: get('rhythm');
  }

  &--content-title{
    color: color('gray', 40);
    font-size: ms(0);
    font-weight: 400;
  }

  &--content-link{
    font-size: ms(1);
    font-weight: 400;
    margin-top: get('rhythm') / 3;

    &_TEAL{
      color: color('teal', 40);
    }

    &_BLUE{
      color: color('blue', 50);
    }
  }

  &--content-link-a{
    text-decoration: none;
  }

  &--content-session-container{
    margin-top: get('rhythm') * 4;
    font-size: ms(2);
    color: color('teal', 40);
    font-weight: 400;
  }

  &--content-session-title{
    margin-bottom: get('rhythm');
  }

  &--text{
    font-size: ms(-3);
    color: color('gray', 80);
  }

  &--list-item{
    font-size: ms(-3);
    color: color('gray', 80);
    margin-top: get('rhythm') / 4;
  }

  &--hr{
    margin-bottom: get('rhythm') * 5 / 2;
  }

  &--text-title{
    font-weight: 600;
    font-size: ms(-3);
    color: color('gray', 80);

  }

  &--explain-title{
    font-weight: 600;
    font-size: ms(-3);

    &_GREED{
      color: color('teal', 40);
    }

    &_RED{
      color: color('red', 40);
    }
  }

  &--explain-txt{
    font-size: ms(-3);
    margin-top: get('rhythm') / 4;
    color: color('gray', 40);
  }

  &--do-container{
    padding-top: get('rhythm') / 4;

    &_GREEN{
      border-top: 0.5rem solid color('teal', 40);
    }

    &_RED{
      border-top: 0.5rem solid color('red', 40);
    }
  }

  &--grid-one{
    min-height: 1px;

    @include breakpoint(1100px){
      @include divisions(3);
    }
  }

  &--grid-two{
    @include breakpoint(700px){
      @include divisions(2);
      padding-right: get('rhythm') / 2;
    };

    @include breakpoint(1100px){
      padding-left: get('rhythm') / 2;
      padding-right: 0;
      @include divisions(3);
    }
  }

  &--grid-two-of-two{
    @include breakpoint(700px){
      @include divisions(1);
    };

    @include breakpoint(1100px){
      @include divisions(3/2);
      padding-left: get('rhythm') / 2;
    }
  }

  &--grid-three{
    @include breakpoint(700px){
      @include divisions(2);
      padding-left: get('rhythm') / 2;
    };

    @include breakpoint(1100px){
      @include divisions(3);
    }
  }

  &--sub-session-container{
    margin-top: get('rhythm') * 2;
  }

  &--content-case-study-container{
    max-width: 40rem;
    margin: get('rhythm')*2 auto 0;
  }

  &--content-case-study-sub-container{
    max-width: 40rem;
    margin: get('rhythm') auto ;
  }

  &--content-case-study-sub-container2{
    max-width: 40rem;
    margin: get('rhythm') / 2 auto;
  }

  &--content-case-study-sub-title{
    font-weight: 600;
    font-size: ms(-1);
    color: color('gray', 90);
  }

  &--content-case-study-sub-container3{
    max-width: 40rem;
    margin: get('rhythm') auto 0;
  }

  &--case-study-title{
    font-weight: 600;
    margin-bottom: get('rhythm');
  }

  &--case-study-text{
    font-weight: 400;
    color: color('gray', 60);
  }

  &--two-of-one-container{
    @include breakpoint(700px){
      @include divisions(2);
      padding-right: get('rhythm') / 2;
    };
  }

  &--two-of-two-container{
    margin-top: 0;

    @include breakpoint(700px){
      @include divisions(2);
      padding-left: get('rhythm') / 2;
    };
  }

  &--blockquote{
    border-left: .25em solid color('gray', 40);
  }




}
