
.tile {
  @include divisions(1);
  margin-top: 0rem;
  position: relative;

  &_full {
    @include divisions(1);
  }

  &_half {
    @include breakpoint(get('small')) {
      @include divisions-reset;
      @include divisions(2);
    }

    &-1 {
      background-color: color('teal', 50);
    }
    &-2 {
      background-color: color('teal', 30);
    }
  }

  &_quarter {
    @include breakpoint(get('small')) {
      @include divisions-reset;
      @include divisions(4);
    }

    &-1 {
      background-color: color('orange', 50);
    }
    &-2 {
      background-color: color('orange', 40);
    }
    &-3 {
      background-color: color('orange', 30);
    }
    &-4 {
      background-color: color('orange', 20);
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
